button{
    border-radius: 100px;
    margin-left: 30px;
    width: 70px;
    height: 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    font-weight: 900px;
    font-size: large;

}
button:hover{
    background-color: white;
}

.main_div{
    background-color: black;
     width:500px; 
     height:800px;
     border-style: solid;
     border-color: grey;
     border-width: 10px;

}
body{
    /* border-style: dashed;
    border-color: brown; */
    background-color: black;
}
.hover_button{
    background-color: orange;

}